<?xml version= "1.0" encoding ="UTF-8"?>


<Suite name="Basic_Selenium_Practice">
    <test name = "TestNG_Test">
        <parameter name = "myName" value="Kartick"/>

        <groups>

            <define name = "all">
                <include name = "functest"/>
                <include name = "checkintest"/>

            </define>

            <run>
                <include name = "all"/>
            </run>

        </groups>

        <Classes>

            <Class name = "TestNG_Practice_2020">

            </Class>

        </Classes>
    </test>
</Suite>